*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
    line-height:1.6;
}

header{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#1e293b,#0f172a);
}

header h1{
    font-size:3rem;
    margin-bottom:10px;
}

header p{
    font-size:1.2rem;
    color:#cbd5e1;
}

.botao{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.botao:hover{
    transform:scale(1.05);
}

section{
    max-width:1000px;
    margin:auto;
    padding:30px 20px;
}

h2{
    margin-bottom:20px;
    color:#60a5fa;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

a{
    color:#60a5fa;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}